<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar</title>
</head>
<body>
    <h1>Avatar: La Leyenda de Aang</h1>
    <div></div>
    <img src="/images/avatar.png" alt="logo avatar" width="500px">
    <div></div>
    <p>Avatar: La leyenda de Aang (en inglés, Avatar: The Last Airbender) es una serie animada ambientada en un mundo de estilo asiático en el que algunas personas pueden manipular uno de los cuatro elementos (agua, tierra, fuego o aire) con variantes telequinéticas de las artes marciales chinas conocidas como "bending" en inglés y "control" en español. El único individuo que puede controlar los cuatro elementos, el "Avatar", es responsable de mantener la armonía entre las cuatro naciones del mundo y sirve como puente entre el mundo espiritual y el mundo físico.</p>
    <p>La serie se centra en el viaje de Aang, de 12 años, el Avatar actual y último superviviente de su nación, los Nómadas del Aire, junto con sus amigos Sokka, Katara y más tarde Toph, mientras se esfuerzan por poner fin a la guerra de la Nación del Fuego contra las otras naciones del mundo. También sigue la historia de Zuko, el príncipe exiliado de la Nación del Fuego, que busca restaurar su honor perdido capturando a Aang, acompañado por su sabio tío Iroh, y más tarde, la de su ambiciosa hermana Azula.</p>
    <div></div>
    <h3>Heroes de la historia</h3>
    <div></div>
    <ul>
        <li><a href="/views/aang.html">Aang</a></li>
        <li><a href="/views/sokka.html">Sokka</a></li>
        <li><a href="/views/katara.html">Katara</a></li>
        <li><a href="/views/toph.html">Toph</a></li>
        <li><a href="/views/zuko.html">Zuko</a></li>
    </ul>
</body>
</html>