<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sokka</title>
</head>
<body>
    <h1>Sokka</h1>
    <div></div>
    <img src="/images/sokka1.jpg" alt="imagen de sokka">
    <div></div>
    <p>Sokka era un guerrero adolescente de la Tribu Agua del Sur y el hijo del Jefe Hakoda y Kya. Tras la muerte de su madre y después de que su padre se marchara junto con todos los demás hombres adultos de su tribu para luchar en la Guerra de los Cien Años, Sokka fue criado por su abuela Kanna junto a su hermana menor Katara.</p>

<p>A pesar de su deseo de unirse a su padre, a Sokka no se le permitió acompañar a los hombres en la misión y se quedó atrás.[3] Ya que no había otros chicos adolescentes en su tribu, él era el hombre de más edad en el Polo Sur. Asumió la responsabilidad de la tribu, entrenando a los niños para ser futuros guerreros, hasta que su hermana descubrió a un nómada aire, llamado Aang, congelado en un bloque de hielo.[3] Cuando se enteró de que Aang era el Avatar,[4] al principio se mostró escéptico de que un niño podría realmente salvar al mundo. Mientras él y su hermana ayudaban a Aang en su búsqueda, Sokka empezó a creer que realmente Aang era la única esperanza para alcanzar la paz en el mundo.</p>
        
       <p> A pesar de su inhabilidad como maestro elemental, Sokka se convirtió en el estratega del grupo, constantemente tratando de probarse a sí mismo, para ser un gran guerrero como su padre. Él intentó entrenar a los jóvenes niños de la Tribu Agua del Sur para luchar. Sokka también era el estratega del grupo y no creía en la "magia espiritual", como expresaba abiertamente.[5] Sus habilidades de liderazgo mejoran a lo largo de la serie, tanto que culminó como autor intelectual del plan para la Invasión a la Nación del Fuego durante el Día del Sol Negro.[6] Su humor y capacidad de organización y planificación lo convirtió en alguien imprescindible para el grupo, durante sus viajes. Por la conclusión de la serie, Sokka se convirtió en un maestro de la espada[7] y, finalmente, se convirtió en un gran guerrero como su padre.</p>
        
        <p>Luego de que Aang y Zuko formaran la República Unida de Naciones, Sokka se convirtió en el representante de la Tribu Agua del Sur en el Concejo de la República Unida, así también como su concejal.</p>
        <div></div>
        <img src="/images/sokka2.png" alt="imagen de sokka">
</body>
</html>