<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toph</title>
</head>
<body>
    <h1>Toph</h1>
    <div></div>
    <img src="/images/toph1.jpg" alt="imagen de toph" width="500px">
    <div></div>
    <p>Toph Beifong es una Maestra de la Tierra Control y una de las más poderosas de su tiempo. Ciega de nacimiento, Toph fue tratada con condescendencia constantemente a causa de su discapacidad y estatura, en especial por sus padres sobreprotectores. Al descubrir a los tejones topo, animales capaces de hacer Tierra Control que también eran ciegos, aprendió a usar la Tierra Control como una extensión de sus sentidos. Esto le dio la capacidad de "ver" a través de toda pequeña vibración que ocurriera en el suelo.</p>

        <p>Después de haber desarrollado su propio estilo único de Tierra Control, Toph adquirió una personalidad endurecida y se hizo famosa por ganar torneos de Tierra Control, bajo el título de "Bandida Ciega", a espaldas de sus padres. Aunque inicialmente no estaba interesada en ayudar directamente la con la Guerra, finalmente optó por dejar atrás su antigua vida, y viajar con el Avatar Aang y sus amigos como su instructora de Tierra Control aprovechando que sus padres finalmente se volvieron insoportables para ella. El dominio total de Toph en la Tierra Control, su personalidad única y pensativo pragmatismo le hicieron una adición valiosa para el equipo.</p>
        <div></div>
        <img src="/images/toph2.jpg" alt="imagen de toph" width="500px">
</body>
</html>