<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zuko</title>
</head>
<body>
    <h1>Zuko</h1>
    <div></div>
    <img src="/images/zuko1.jpg" alt="imagen de zuko" width="500px">
    <div></div>
    <p>El Señor del Fuego Zuko es un Maestro del Fuego Control con un corazón gigante y muy noble, nacido como Príncipe heredero de la Familia Real de la Nación del Fuego. Su historia a menudo fue paralela a la del Avatar Aang. Inicialmente, fue el principal enemigo del Equipo Avatar, la vida de Zuko giraba en torno a tratar de capturar al Avatar perdido hace mucho tiempo para poner fin a su exilio y recuperar su honor como el Príncipe heredero de la Nación del Fuego.</p>

        <p>Zuko se reconoce fácilmente por la cicatriz distintiva en el lado izquierdo de su cara, que recibió a la edad de trece años en un Agni Kai contra su padre, el Señor del Fuego Ozai, poco antes de su destierro. El combate fue el resultado de un incidente en el que sin querer faltó el respeto a su padre por hablar fuera de turno y negarse a luchar contra él.</p>
        
        <p>Con el apoyo de su tío, el General Iroh, y después de mucha lucha y caos interno, Zuko rechazó a la Nación del Fuego que Ozai gobernaba y se unió al Equipo Avatar para convertirse en amigo de Aang y su instructor de Fuego Control en un esfuerzo por restaurar su honor así como el de la Nación del Fuego. Mientras Aang luchaba contra Ozai, Zuko, con la ayuda de Katara, se enfrentaba en un batalla contra su prodigiosa hermana menor, la Princesa Azula, y tomó su lugar como el Señor del Fuego, declarando el fin de la Guerra de los Cien Años y el comienzo de una era de amor y paz.</p>
        <div></div>
        <img src="/images/zuko2.jpg" alt="imagen de zuko" width="500px">
</body>
</html>